@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Prompt:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow:before,
.shadow:after {
  content: '';
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
}

.top {
  padding-top: 10vh;
}

.nav {
  background-color: rgb(255, 255, 255);
}

.navbarr {
  color: rgb(126 34 206);
  font-size: xx-large;
  margin: auto;
}

.navbar-nav {
  margin-left: 1vw;
}

.navbar-nav a {
  margin-left: 2vw;
}

.navbar-nav a:hover {
  transform: scale(1.025);
}

.container-fluid {
  margin-left: 4vw;
}

main {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(204, 167, 216));

}

.empty {
  height: 10vh;
}

.purple {
  color: rgb(126 34 206);
}

.col img {
  width: 35vw;
}

.container1 {
  text-align: left;
  font-size: 3.5vw;
}

.hrr {
  height: 0px;
  border: 2px solid rgb(74, 60, 86);
}

.blue a {
  margin: 0px 10px;
}

.yellow {
  display: flex;
  justify-content: center;
}

#C {
  display: flex;
  justify-content: center;
}

#C p {
  margin-top: 3%;
}

#C a img:hover {
  transform: scale(1.1);
}

.blue {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgba(102, 56, 255, 0.5);
  text-align: center;
  padding-bottom: 1%;
}

.container001 {
  border: 5px solid white;
  background-image: linear-gradient(to right, rgb(43, 25, 49), rgb(117, 98, 173));
  padding: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.education {
  color: rgb(40, 13, 66);
  text-align: center;
  padding-top: 15px;
}


.card {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  border-radius: 7px;
  width: 50vw;
  overflow: hidden;
}

.card-img-top {
  margin: auto;
  width: 80vw;
  height: 40vh;
  margin-top: 5vh;
}

.skillsheading {
  color: rgb(73, 48, 102);
  text-align: center;
  padding: 15vh 0 7vh 0;
  font-size: 60%;
}

.marginn {
  padding: 2%;
  margin: auto;
}

.skilll img {
  height: 180px;
  width: 160px;
  padding: 20px 0;
}

.resumehead {
  display: block;
}

.resumee {
  display: block;
  margin: auto;
}

.resume {
  padding: 5vh;
  border-radius: 10%;
  color: blueviolet;
  margin-bottom: 30px;
}
.resume a{
  text-decoration: none;
  color: rgb(55, 10, 79);
}
.centree{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rr {
  background-image: radial-gradient(rgb(198, 198, 242), rgb(180, 125, 225));
  border-radius: 10%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rr:hover {
  background-image: radial-gradient(rgb(139, 142, 165), rgb(108, 108, 234));
  scale: 1.02;
  color: aliceblue;
}

.ownimgg {
  padding: 1vh 0 3vh 0;
  display: flex;
  justify-content: center;
}

.mehead {
  text-align: center;
  color: rgb(62, 27, 108);
  padding-top: 2vh;
}

.intro {
  background-image: linear-gradient(to left, #b965f68c, #5f73d97a);
  color: rgb(29, 6, 64);
  font-size: x-large;
  padding: 4px;
}

.hrr {
  margin-bottom: 0;
}

@media screen and (max-width :991px) {
  .container1 {
    margin-left: 10vw;
  }

  .skillsheading {
    padding: 5vh 0 3vh 0;
  }

  .navbarr {
    font-size: large;
  }

  .rr {
    height: 50px;
  }
}

@media screen and (max-width :700px) {
  .card {
    width: 90vw;
  }

  .intro {
    font-size: small;
  }
  .music img{
    height: 60%
  }
}